@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #FF9632;
    --secondary-color: #386082;

    --background-color: #ECEFF2;

    --terciary-color:#218169;

    --font-color-primary: #0B131A;
    --font-color-secondary: #FFFFFF;
    --primary-color-buttons:  #40407F;
    --font-body: 'Open Sans', sans-serif;
    --font-headers: 'Aleo', serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

/* GENERAL STYLE */

h1 {
    font-family: var(--font-headers);
    color: var(--secondary-color);
    font-size: 5rem;
}

.white-text {
    color: white;
}

.bring-to-front {
    z-index: 99;
}

.cta {
    background-color: var(--primary-color);
    border: solid var(--primary-color) 1px;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-body);
    font-size: 1.3rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
}

.cta:hover {
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 600;
    border: solid var(--primary-color) 1px;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--font-body);
}

a:hover {
    color: var(--primary-color);
}

a:active {
    color: var(--terciary-color);
}

/* HEADER STYLE */

header {
    padding: 1rem;
    background-color: white;
}

#nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-icon {
    position: relative;
}

header nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

}

header nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    padding: 2rem 0;
    font-family: var(--font-body);
    color: var(--secondary-color);
}

.prim-nav {
        font-weight: 600;
}

.sec-nav {
    font-weight: 300;
}


/* HOMEPAGE */

#test-background {
    z-index: 0;
    height: 100vh;
    width: auto;
    background-image: url("teacher.png");
    border-bottom-right-radius: 3rem;
}

#take-a-test-container {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ANIMATIONS */

.hide {
    display: none;
}
