/* HEADER STYLE */

header {
    width: 100vw;
    height: 100vh;
}

.header-links {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    padding: 1.3rem 0;
}

a {
    text-decoration: none;
    color: var();
    font-family: var();
}

a:hover {
    color: var();
}

a:active {
    color: var();
}

#nav-mob {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
