:root {
   --primary-color: #FF9632;
    --secondary-color: #386082;
    --terciary-color:#218169;
    --font-color-primary: #0B131A;
    --font-color-secondary: #FFFFFF;
    --primary-color-buttons:  #40407F;
    --font-body: 'Open Sans', sans-serif;
    --font-headers:  'Aleo', serif;
}

@media only screen and (max-width: 450px) {

    img {
        max-width:  width: 400px;
    }
    .card {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
    }
    .card img {
        max-width: 450px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .card button {
        margin-top: 1rem;
    }
    .card h2 {
        font-family: 'Aleo', solid;
        font-size: 1.8rem;
        color: #386082;
    }
    .card article {
        font-family: open sans;
        font-size: 1.1rem;
        color: #40407F;
        margin-top: 19rem
    }
    .see_all h3 {
        text-align: center;
        margin-top: 5rem;
        font-family: 'aleo',solid;
        font-size: 1.7rem;
        color: #40407F;
    }
    .see_all p {
        text-align: center;
        font-family: 'Open sans', sans-serif;
        font-size: 1.1rem;

    }
    .see_all {
        text-align: center;
    }





}
body {
    background-color: #ECEFF2;
}
/*button */

#read_more {
	background-color:#FF9632;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family: open-sans;
	font-size:20px;
	font-weight:bold;
	padding:10px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
#read_more:hover {
	background-color:#ffab23;
}
#read_more:active {
	position:relative;
	top:1px;
}
#see_all {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:5px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'open sans',sans-serif;
	font-size:1.3rem;
	padding:10px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
#see_all:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
#see_all:active {
	position:relative;
	top:1px;
}

/*nav*/
header {
    padding: 1rem;
    background-color: white;
}

#nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-icon {
    position: relative;
}

header nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

}

header nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    padding: 2rem 0;
    font-family: var(--font-body);
    color: var(--secondary-color);
}

.prim-nav {
        font-weight: 600;
}

.sec-nav {
    font-weight: 300;
}

/* ANIMATIONS */

.hide {
    display: none;
}
