:root {
   --primary-color: #FF9632;
    --secondary-color: #386082;
    --terciary-color:#218169;
    --font-color-primary: #0B131A;
    --font-color-secondary: #FFFFFF;
    --primary-color-buttons:  #40407F;
    --font-body: 'Open Sans', sans-serif;
    --font-headers:  'Aleo', serif;
}

@media only screen and (max-width: 450px) {

    .container {
        max-width: 450px;
        position: relative;
        align-content: center;
        display: flex;

    }
/*
    img {
        width: 400px;


    }
*/
    .card {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
    }
    .card img {
        max-width: 450px;
    }
    .card button {
        margin-top: 1rem;
    }
    .card h2 {
        font-family: 'Aleo', solid;
        font-size: 1.8rem;
        color: #FF9632;
    }
    .card article {
        font-family: open sans;
        font-size: 1.1rem;
        color: #fff;
    }





}
body {
    background-color: #ECEFF2;
}
#read_more {
/*	box-shadow:inset 0px 1px 0px 0px #fff6af;*/
/*	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);*/
	background-color:#FF9632;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family: open-sans;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
#read_more:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
#read_more:active {
	position:relative;
	top:1px;
}
